body {
    background: linear-gradient(to bottom right, indigo, purple) !important;
  }
  
  h1, p {
    color: white !important;
    font-family: "Gliroy", sans-serif !important;
  }
  footer.bg-light py-3 {
    background-color: #ff0202;
    color: rgb(58, 5, 8);
  }
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .feature-list li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: green;
    font-family: ""Gliroy", sans-serif !important;
  }
  
  
  @media (max-width: 767px) {
    .feature-list li {
      width: 100%;
    }
  }
  
  