body {
    background: linear-gradient(to bottom right, indigo, purple) !important;
  }
  
  h1, p {
    color: white !important;
    font-family: "Gliroy", sans-serif !important;
  }
  footer.bg-light py-3 {
    background-color: #ff0202;
    color: rgb(58, 5, 8);
  }
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .feature-list li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(18, 141, 12);
    font-family: "Gliroy", sans-serif !important;
    font-weight: bold;

  }
  
  
  @media (max-width: 767px) {
    .feature-list li {
      width: 100%;
    }
  }

  .upcoming-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .upcoming-list li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(118, 126, 118);
    font-family: "Gliroy", sans-serif !important;
  }
  
  
  @media (max-width: 767px) {
    .upcoming-list li {
      width: 100%;
    }
  }
  
  .logo-img {
    width: 680px;
    height: 340px;
    margin-right: 1000px;
    transform-style: preserve-3d;
    transform: rotateY(1deg) rotateX(-10deg);
    box-shadow: 1000 1000 1000px rgb(0, 0, 0);
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }